.root{
    text-align: center;
    margin-top:30px;
}

.userProfile
{
    margin-top:40px;
}

.profileSection {
    margin-top: 50px;
}

.subheader {
    text-align: left;
    margin-bottom:20px;
}

.submitButton {
    margin-top:50px;
}

.select{
    text-align: left;
}

.leftNavCol {
    margin-top: 100px;
}

.leftNavLink {
    font-size: 12pt;
    margin-top:20px;
    margin-bottom: 20px;
    height: 40px;
    width: 100px;
    padding: 11px 5px 10px 5px;
}

.leftNavLinkActive {
    composes: leftNavLink;
    background-color: skyblue;
}

.rightCol {
    margin-top: 20px;
}

.placeholder {
    font-style: italic;
}

.showError {
    display: inline;
}

.hideError {
    display: none;
}
