.pageHeader {
    font-family: "Avenir LT W01 45 Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #31708f;
}

.visibilityDiv {
    margin-top: 30px;
}

.promptDetails {
    font-style:italic;
}

.newJobCol {
   padding-top: 25px;
}

.headerRow {
   margin-bottom: 20px;
}
