.postEditJobDiv {
    margin: 80px;
    width: 900px;
}

.jobDetailsModal {
    width: 1200px;
    height: 900px;
}

.pageHeader {
    font-family: "Avenir LT W01 45 Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #31708f;
}

.saveButton {
    margin-left: 60px;
}

.cancelButton {
    float:right;
}

.visibilityDiv {
    margin-top: 30px;
}

.promptDetails {
    font-style:italic;
}

.newJobCol {
   padding-top: 25px;
}

.headerRow {
   margin-bottom: 20px;
}

.questionPanel {
    font-size: 12px;
    font-weight: bold;
    width: 375px;
}


.questionItems {
    font-size: 11px;
}

.item--message {
    font-size: 12pt;
}
