.optionItemForm {
    margin-top: 15px;
}

.optionItemList {
    margin-top: 22px;
    margin-left: 0;
}

.itemTextCol {
    margin-left: 0;
    padding-left: 0;
}

.editRow {
    margin-bottom: 8px;
}

.editItemTextArea {
    margin-top: 0;
}