.pageHeader {
    font-family: "Avenir LT W01 45 Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #31708f;
}

.saveButton {
    margin-left: 60px;
}

.cancelButton {
    float:right;
}

.questionPanel {

}

.questionPanelText {

}

.questionSets {
    margin-top: 45px;
    min-height: 300px;
}

.question {

}

.conditionalQuestion {
    margin-top: 25px;
    margin-left: 50px;
}

.buttonBar {
    width: 80%;
}

.questionPanelHeaderText {
    font-size: 20px;
}

.questionSetHeader {
    margin-bottom:25px;
    font-size: 20px;
}

.questionPanelHeaderText {

}
