.addQuestionDiv {
    margin-top: 15px;
    margin-bottom: 10px;
}

.questionDiv {
    padding-top: 10px;
}

.questionBodyDiv {
    padding-top: 5px;
}

.questionListDiv {
    max-height: 58vh;
    overflow-y: auto
}

.headerRow {
    position: absolute;
    top:0;
    left: 0;
}

.reorderRow {
    margin-bottom: 10px;
    margin-top: 15px;
}

.toggleButtonCol {
    width: 15px;
}

.answerTypeDetails {
    margin-top: 20px;
}

.editForm {
    padding: 20px 20px 10px 20px;
}

.conditionalToggle {
    display: inline-block;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

.showResourcesTextField {
    display: block;
}

.hideResourcesTextField {
    display: none;
}

.inlineLabel {
    padding-left: 0;
}

.inlineTextCol {
    padding-right: 0;
}

.inlineTextControl {
    font-size: 13px;
}

.selectControl {
    height: 31px;
    font-size: 13px;
}
