.footerContainer {
    height:110px;
    position:relative;
    bottom:0;
    /*width:100%;*/
    background-color: #515860;
    color:cyan;
    font-family:'Century Gothic';
    font-size:12px;
    margin-top: -110px; /* negative value of footer height */
    padding-top:15px;
    clear:both;
}

.footerHeader {
    color:aquamarine;
}

.footerList a {
    color:cyan;
}

.footerList {
    margin-top:10px;
    list-style: none;
}

.footerList li {
    margin-top:5px;
}

.footerContainer > hr {
    margin-top:0;
    margin-bottom:0;
}
