/* Styles */
#app {
   font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
   color: #4d4d4d;
   min-width: 550px;
   max-width: 850px;
   margin: 0 auto;
}

a.active {
   color: orange;
}

nav {
   padding-top: 20px;
}




.overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0; left: 0; bottom: 0; right: 0;
   z-index: 2;
   background-color: rgba(0, 0, 0, 0.6);
}

.question_big {
   position: absolute;
   width: 550px;
   height: 300px;
   margin: auto;
   padding: 25px;
   top: 0; left: 0; bottom: 100px; right: 0;
   z-index: 3;
   border: 1px solid black;
   background-color: silver;
}

.question_big input[type=text], textarea {
   width : 100%;
   margin: 13px 0;
   font-size: 13px;
   border: none;
   padding:5px;
}

.question_big input[type=text] {
   font-size: 20px;
   font-weight: bold;
}

.question_big select {git
   padding:5px;
   margin-top:13px;
}

.question_big input[type=text]:focus,
.question_big textarea:focus {
   outline: dashed thin #999;
   outline-offset: 2px;
}

.question_big label {
   margin: 3px 0 7px 3px;
   color: #a7a7a7;
   display: inline-block;
   width: 100px;
}

.actions {
   text-align: right;
   position: absolute;
   bottom: 10px;
   right: 12px;
}

.question_big button {
   font-size:14px;
   padding: 8px;
}


.float-button {
   position: absolute;
   height: 56px;
   width: 56px;
   z-index: 2;
   right: 20px;
   bottom: 20px;
   background: #D43A2F;
   color: white;
   border-radius: 100%;
   font-size: 34px;
   text-align: center;
   text-decoration: none;
   line-height: 50px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
