.root {
    composes: root from "../ProfilePage.css";
}

.userProfile {
    composes: userProfile from "../ProfilePage.css";
}

.subheader {
    composes: subheader from "../ProfilePage.css";
}

.submitButton {
    composes: submitButton from "../ProfilePage.css";
}

.select{
    composes: select from "../ProfilePage.css";
}