.root {
    composes: root from "../ProfilePage.css";
}

.userProfile {
    composes: userProfile from "../ProfilePage.css";
}

.profileDiv {
    composes: profileDiv from "../ProfilePage.css";
}

.editModal {
    width: 1200px;
}

.subheader {
    composes: subheader from "../ProfilePage.css";
}

.inlineHeader {
    composes: inlineHeader from "../ProfilePage.css";
}

.submitButton {
    composes: submitButton from "../ProfilePage.css";
}

.select {
    composes: select from "../ProfilePage.css";
}

.placeholder {
    composes: placeholder from "../ProfilePage.css";
}

.showError {
    composes: showError from "../ProfilePage.css";
}

.hideError {
    composes: hideError from "../ProfilePage.css";
}

.formInput {
    border-color: #ccc !important;
}

.formInputSelect {
    composes: formInput;
    width: 150px !important;
    margin-left: 32px;
}

.formInline {
    text-align: left;
}

.formGroupInline {
    width: 285px !important;
    margin-left: 35px !important;
    margin-bottom: 30px !important;
}

.addButtonRow {
    margin-top: 10px;
}
