
.addPanelDiv {
    margin-top: -35px;
    margin-bottom: 40px;
    margin-left: 275px;
}

.addEditButtonsDiv {
    margin-top: 5px;
}

.questionPanelDiv {
    padding-top: 10px;
    margin-left: 50px;
}

.questionSetStaticDiv {
    padding-top: 10px;
    margin-left: 20px;
}

.addQuestionSetDiv {
    margin-top: -35px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.questionPanelBodyDiv {
    padding-top: 5px;
}

.editForm {
    padding: 20px 20px 10px 20px;
}

.inlineLabel {
    padding-left: 0;
    font-size: 8pt;
}

.inlineLabelNoPadding {
    composes: inlineLabel;
    padding-right: 0;
}

.inlineTextCol {
    padding-right: 0;
}

.inlineTextControl {
    font-size: 8pt;
    height: 28px !important;
}

.subHeaderLeftCol {
    padding-left: 0;
}

.formInput {
    border-color: #ccc !important;
}

.formInputActionText {
    font-size: 10pt;
}

.formInputSelect {
    composes: formInput;
    width: 110px !important;
}

.formInputSelectWide {
    composes: formInput;
    width: 300px !important;
}

.inputSelectQuestionSet {
    composes: formInput;
    width: 450px !important;
    height: 28px !important;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 8pt !important;
}

.inputSelectQuestion {
    composes: formInput;
    display: inline;
    width: 350px !important;
    height: 28px !important;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 8pt;
}

.formInputActionDiv {
    font-size: 8pt;
    margin-top: 25px;
    padding: 18px 15px 2px 15px;
    border: solid 1px #c2e0ff;
    width: 800px;
}

.questionSetQuestionDiv {
    font-size: 8pt;
    margin-top: 25px;
    padding: 18px 15px 2px 15px;
    border: solid 1px #c2e0ff;
    /*width: 740px;*/
}

.conditionalQuestionDiv {
    font-size: 8pt;
    margin-top: 25px;
    padding: 18px 15px 2px 15px;
    border: solid 1px #c2e0ff;
}

.conditionalQuestionStaticDiv {
    margin-top: 10px;
    margin-left: 20px;
}

.conditionalQuestionList {
    margin-top: 10px;
}

.questionStaticListItem {
    margin-top: 10px;
}

.formInputActionSelect {
    composes: formInput;
    display: inline;
    width: 300px !important;
    height: 28px !important;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 8pt;
}

.formInputActionSelectWide {
    composes: formInputActionSelect;
    width: 340px !important;
}

.formInputActionSelectSmall {
    composes: formInputActionSelect;
    width: 90px !important;
}

.conditionalActionButton {
    margin-top: -35px;
    margin-left: 250px;
}

.conditionalActionFormGroup {
    margin-bottom: 45px;
}

.conditionalQuestionFormGroup {
    margin-top: 30px;
    margin-bottom: 30px;
}

.conditionActionList {
    margin-top: 12px;
    margin-bottom: 15px;
}

.conditionActionListItem {
    margin-bottom: 10px;
}

.conditionalQuestionsRow {
    margin-top:20px;
}

.selectColLeft {
    padding-right: 0;
}

.selectColRight {

}

.buttonDiv {
    display: inline;
    float: right;
}

.labelCol {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
    padding-top:6px;
}

.showTargetDiv {
    display: inline
}

.hideTargetDiv {
    display: none
}

.questionSetIndex {

}

.questionSetRightCol {

}

.qSetQuestionButtonRow {
    margin-top: 25px;
}

.addQuestionButtonRow {
    margin-top: 15px;
}

.subQuestionDiv {
    margin-bottom:20px;
}

.addSubQuestionButton {
    margin-left: 5px;
}