
.addPanelDiv {
    margin-top: -35px;
    margin-bottom: 40px;
    margin-left: 275px;
}

.addEditButtonsDiv {
    margin-top: 25px;
   margin-left: 75px;
}

.questionPanelDiv {
    padding-top: 10px;
   margin-left: 50px;
}

.questionPanelBodyDiv {
    padding-top: 5px;
}

.editForm {
    padding: 20px 20px 10px 20px;
}

.inlineLabel {
    padding-left: 0;
    font-size: 8pt;
}

.inlineTextCol {
    padding-right: 0;
}

.inlineTextControl {
    font-size: 8pt;
    height: 28px !important;
}

.subHeaderLeftCol {
    padding-left: 0;
}

.formInput {
    border-color: #ccc !important;
}

.formInputActionText {
    font-size: 10pt;
}

.formInputSelect {
    composes: formInput;
    width: 110px !important;
}

.formInputSelectWide {
    composes: formInput;
    width: 300px !important;
}

.formInputActionDiv {
    font-size: 8pt;
    margin-top: 25px;
    padding: 18px 15px 2px 15px;
    border: solid 1px #c2e0ff;
    width: 800px;
}

.formInputActionSelect {
    composes: formInput;
    display: inline;
    width: 300px !important;
    height: 28px !important;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 8pt;
}

.formInputActionSelectWide {
    composes: formInputActionSelect;
    width: 340px !important;
}

.formInputActionSelectSmall {
    composes: formInputActionSelect;
    width: 90px !important;
}

.conditionalActionButton {
    margin-top: -35px;
    margin-left: 250px;
}

.conditionalActionFormGroup {
    margin-bottom: 45px;
}

.conditionActionList {
   margin-top: 12px;
   margin-bottom: 15px;
}

.conditionActionListItem {
   margin-bottom: 10px;
}

.selectColLeft {
    padding-right: 0;
}

.selectColRight {

}

.buttonDiv {
    display: inline;
    float: right;
}

.showTargetDiv {
    display: inline
}

.hideTargetDiv {
    display: none
}
