/* Styles */


.has-success .form-control {
   border-color: blue !important;
}


.container-fluid{
    max-width: 1970px !important;
}

.overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0; left: 0; bottom: 0; right: 0;
   z-index: 2;
   background-color: rgba(0, 0, 0, 0.6);
}

.question_big {
   position: absolute;
   width: 650px;
   height: 650px;
   margin: auto;
   padding: 25px;
   top: 0; left: 0; bottom: 50px; right: 0;
   z-index: 3;
   border: 1px solid black;
   background-color: silver;
}

.question_big input[type=text], textarea {
   width : 100%;
   margin: 13px 0;
   font-size: 13px !important;
   border: none;
   padding:5px;
}

.question_big select {
   padding:5px;
   margin-top:13px;
}

.question_big input[type=text]:focus,
.question_big textarea:focus {
   outline: dashed thin #999;
   outline-offset: 2px;
}

.question_big label {
   margin: 3px 0 7px 3px;
   color: #204d74;
   display: inline-block;

}

.actions {
   text-align: right;
   position: absolute;
   bottom: 10px;
   right: 12px;
}

.question_big button {
   font-size:14px;
   padding: 8px;
}

#displayType {
   margin-left: 30px;
   margin-top:15px;
}

#answerType {
   margin-left: 30px;
   margin-top:15px;
}

ul.answerTypeSelection {
   margin-top:10px;
}

div.answerTypeDiv {
   margin-top:20px;
   margin-bottom:20px;
   font-weight: 700 !important;
   color: #204d74;
}

div.divAnswerType {
   margin-top:20px;
   border:solid 1px rgba(69, 40, 77, 0.94);
   padding-bottom:20px;
   padding-right: 20px;
    padding-left: 10px;
}

div.answerTypeOptions {
   padding-left: 30px;
}

#textWidth {
   width:50px;
   margin-left:10px;
   margin-right: 50px;
}

div.displayType {
   margin-top: 20px;
   margin-bottom: 60px;
}

div.divQuestions {
   border: solid 1px black;
   width: 250px;
   height: 350px;
}

.float-button {
   position: relative;
   height: 56px;
   width: 56px;
   z-index: 2;
   right: -200px;
   bottom: -20px;
   background: #D43A2F;
   color: white;
   border-radius: 100%;
   font-size: 34px;
   text-align: center;
   text-decoration: none;
   line-height: 50px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}


.conditionTable {
   border:solid 1px black;
   width: 450px;
   border-spacing: 1px;
   border-collapse: collapse;
   margin-bottom: 20px;
}

table.conditionTable tr {
   height: 30px;
}

table.conditionTable th,table.conditionTable td {
   border:solid 1px black;
   padding-left: 7px;
}

table.conditionTable th {
   background-color: lightblue;
}

div.divCondition {
   border: solid 1px black;
   padding: 20px;
   margin-top:20px;
}

div.divCondition > select, div.divScenario > select {
   margin-left: 10px;
}

div.answerTypeContainer {
   margin-left:0px;
}

div.answerTypeOptions {
   width: 580px;
   height: 120px;
   overflow-y: auto;
   overflow-x:hidden;
}

div.add-selection-option {
    width: 500px;
    margin-left: 50px;
}

