/* Styles */

body {
    /*background-color:#43E2F7 !important;*/
    background-color: aliceblue !important;
}

#app {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;

    /*color: #4d4d4d;*/
    min-width: 550px;
    /*max-width: 950px;*/
    margin: 0 auto;
}

/* Necessary to keep the footer at the bottom of the page */
* {margin:0;padding:0;}
html, body {height: 100%;}
#wrap {min-height: 100%;}
#app {  height:100%;  }

#main {
    overflow:auto;
    padding-bottom: 110px; /* must be same height as the footer */
}

/*Hide controls and indicators on home page carousel*/
.carousel-indicators li { visibility: hidden; }

.right.carousel-control, .left.carousel-control {
    display: none;
}


div.featureBox:hover {
    background-color: #31708f;
    color: #eeeeee;
}













.has-success .form-control {
    border-color: #ccc !important;
}

.has-success .control-label {
    color: #333 !important;
}

.container-fluid {
    max-width: 1970px !important;
}

.eduModal {
    width: 800px;
}

.empModal {
    width: 800px;
}

.jobDetailsModal {
    width: 800px;
    height: 900px;
}

.questionWizardModal {
    width: 1050px;
}

.skillsModal {
    width: 600px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}

.question_big {
    position: absolute;
    width: 650px;
    height: 650px;
    margin: auto;
    padding: 25px;
    top: 0;
    left: 0;
    bottom: 50px;
    right: 0;
    z-index: 3;
    border: 1px solid black;
    background-color: silver;
}

.question_big input[type=text], textarea {
    width: 100%;
    margin: 13px 0;
    font-size: 13px !important;
    border: none;
    padding: 5px;
}

.question_big select {
    padding: 5px;
    margin-top: 13px;
}

.question_big input[type=text]:focus,
.question_big textarea:focus {
    outline: dashed thin #999;
    outline-offset: 2px;
}

.question_big label {
    margin: 3px 0 7px 3px;
    color: #204d74;
    display: inline-block;

}

.actions {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 12px;
}

.question_big button {
    font-size: 14px;
    padding: 8px;
}

#displayType {
    margin-left: 30px;
    margin-top: 15px;
}

#answerType {
    margin-left: 30px;
    margin-top: 15px;
}

ul.answerTypeSelection {
    margin-top: 10px;
}

div.answerTypeDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700 !important;
    color: #204d74;
}

div.divAnswerType {
    margin-top: 20px;
    border: solid 1px rgba(69, 40, 77, 0.94);
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 10px;
}

div.answerTypeOptions {
    padding-left: 30px;
}

#textWidth {
    width: 50px;
    margin-left: 10px;
    margin-right: 50px;
}

div.displayType {
    margin-top: 20px;
    margin-bottom: 60px;
}

div.divQuestions {
    border: solid 1px black;
    width: 250px;
    height: 350px;
}

.float-button {
    position: relative;
    height: 56px;
    width: 56px;
    z-index: 2;
    right: -200px;
    bottom: -20px;
    background: #D43A2F;
    color: white;
    border-radius: 100%;
    font-size: 34px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.conditionTable {
    border: solid 1px black;
    width: 450px;
    border-spacing: 1px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.conditionTable tr {
    height: 30px;
}

table.conditionTable th, table.conditionTable td {
    border: solid 1px black;
    padding-left: 7px;
}

table.conditionTable th {
    background-color: lightblue;
}

div.divCondition {
    border: solid 1px black;
    padding: 20px;
    margin-top: 20px;
}

div.divCondition > select, div.divScenario > select {
    margin-left: 10px;
}

div.answerTypeContainer {
    margin-left: 0;
}

div.answerTypeOptions {
    width: 580px;
    height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
}

div.add-selection-option {
    width: 500px;
    margin-left: 50px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
}

/*This applies to the Navbar created in the HeaderContainer*/
nav > div.container {
    width: auto;
    position: relative;
}

.nav > li.navItemWithSep > a:after {
    content: "|";
    display: inline-block;
    width: 5px;
    padding-right: 2px;
    padding-left: 10px;
}


.alertError {
   width: 30%;
   margin-top: 0;
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%) !important;
}

.alertError .modal-header {
   background-color: #ffbaba;
   padding: 10px 15px 10px 15px;
}

.alertError .modal-header h4 {
   font-size: 14px;
}

.confirmDialog {
   width: 30%;
   margin-top: 0;
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%) !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {

}

.btn-success.active {
    background-color: #337433;
}

.btn-default.btn-primary {
    text-shadow: none;
}

.float-left {
    float:left;
}

div.question {
    margin-bottom: 40px;
}

.questionPanelModal {
    width: 900px;
}

.questionSetModal {
    width: 900px;
}

.conditionalQuestion {
    margin-top: 25px;
    margin-left: 50px;
}

.questionPanels {

}

.formCheckbox {
    margin-right: 10px !important;
    position:relative;
    top:1px;
}


.item--message {
    padding: 10px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    border-top: 1px solid hsla(0,0%,0%,.1);
    -webkit-font-smoothing: antialiased;
     font-size: 1.2rem;
     max-height: 150px;
     overflow-y: auto;
     border-top: none;
}

