.addPanelDiv {
    margin-top: -35px;
    margin-bottom: 40px;
   margin-left: 275px;
}

.addEditButtonsDiv {
   margin-top: 25px;
}

.questionPanelDiv {
    padding-top: 10px;
}

.questionPanelBodyDiv {
    padding-top: 5px;
}

.editForm {
    padding: 20px 20px 10px 20px;
}

.inlineLabel {
    padding-left: 0;
    font-size: 13px;
}

.inlineTextCol {
    padding-right: 0;
}

.inlineTextControl {
    font-size: 13px;
}

.formInput {
    border-color: #ccc !important;
}

.formInputSelect {
    composes: formInput;
    width: 110px !important;
}

.formInputSelectWide {
   composes: formInput;
   width: 300px !important;
}
